replicaCount: 2

image:
  repository: 902275209269.dkr.ecr.us-east-1.amazonaws.com/movie-watchlist-backend
  pullPolicy: IfNotPresent
  tag: "5c9b55e" 

  pullSecrets:
  - name: ecr-pull-secret

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: movies.your-awesome-domain.com 
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

resources:
  limits:
    cpu: 200m     
    memory: 256Mi 
  requests:
    cpu: 100m     
    memory: 128Mi 

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80